:root{
  --color-white:#ffffff;
  --primary-color:#C271FF;
  --secondary-color:#071629;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro',Verdana, Geneva, Tahoma, sans-serif;
}


.top-wrapper{
  height: 1093px;
  width: 100%;
  background: lightblue url(./images/hero.png) no-repeat center center / cover; 
  
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-wrapper-gradient{
  position: absolute;
  top: 0;
  left: 0;
  height: 1093px;
  width: 100%;
  background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0.3) 2%,
                                              rgba(37, 37, 37, 0.8) 30%,
                                              rgba(7, 22, 41) 80%);
}

/* nav and logo styling start */

nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 150px ;
}

nav ul{
  display: flex;
  gap: 30px;
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}

/* nav and logo styling end */

main{
  display: flex;
  flex-direction: column;
}


/* header section styling start  */

.main-section{
  margin-top: 200px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 86px;
  color: var(--color-white);
  margin-bottom: 30px;
  align-self: center;
}

.activites{
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.sub-acivites{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  width: 500px;
}



.register-btn{
  padding: 20px;
  width: 200px;
  align-self: center; 
  background-color: var(--primary-color);
  border-radius: 30px;
  border: none;
  color: var(--color-white);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.377);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.register-btn:hover{
  transform: scale(1.01);
}

.tutor-container{
  margin-top: 100px;
  text-align: center;
  align-self: center;
}

.tutor-container > h2{
  color: white;
  font-weight: lighter; 
}

.tutor-container > h2 > span{
  color: var(--primary-color);
  font-weight: 600;
}
.tutors{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  /* background-color: green; */
  width: 1000px;
  color: var(--color-white);
  
}

.tutors > div >img{
  border-radius: 50%;
  margin-bottom: 15px;
}

.tutors > div >h3{
  margin-bottom: 10px ;
}

.tutors > div >p{
  font-size: 14px;
  font-style: italic;
}


/* header section styling end */


/* quote section styling start */

.quote{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--primary-color);
  padding: 100px 240px;
  color: var(--color-white);
  place-items: center;
  
}

.quote img{
  border-radius: 50%;
  margin-left: 200px;
  
}

.quote blockquote{
  width: 500px;
  margin-bottom: 30px;
}

/* quote section styling ends */



/* popular tutorial styling starts */

.popular-tutorials-container{
  padding: 80px 150px;
  
}

.popular-tutorials-container > h2{
  text-align: center;
  margin-bottom: 80px;
}

.popular-tutorials{
  display: flex;
  justify-content: space-between;
}

.thumbnail-container{
  position: relative;
  
}

.tutorial-thumbnail{
  width: 225px;
  margin-bottom: 20px;
  position: relative;
  
}

.play-icon{
  position: absolute;
  top: 20%;
  left: 35%;
}

.popular-tutorial-description{
  width: 220px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.popular-tutorials h3{
  font-size: 16px;
  margin-bottom: 10px;
}

.popular-tutorials p{
  font-size: 14px;
  font-weight: lighter;
}

.tutor-lesson{
  display: flex;
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 14px;
  align-items: center;
  

}

.tutor-lesson img{
  border-radius: 50%;
  margin-right: 10px;
}

.tutor-lesson > h4{
  font-weight: 700;
  font-size: 14px;
}

.rating-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.tutor-rating{
  display: flex;
}

.fa-star{
  color: var(--primary-color);
}

/* popular tutorial styling ends */


/* membership section begin */

.membership-container{
  padding: 80px 150px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.membership-container > h2{
  color: white;
  font-weight: lighter; 
}

.membership-container> h2 > span{
  color: var(--primary-color);
  font-weight: 600;
}

.members{
  display: flex;
  margin: 50px auto ;
  justify-content: space-evenly;
}

.members div{
  width: 200px;
 
}

.members h3{
  font-weight: 400;
  font-size: 14px;
  margin: 20px auto;
}

.members p{
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5;
}


/* membership section end */

/* faq section start */

.faq-container{
  padding: 80px 150px;
  background-color: var(--color-white);
}

.faq-container > h2{

  font-weight: lighter; 
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.faq{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 100px;
}

.faq h3{
  font-size: 14px;
  margin-bottom: 50px;
}

.faq p{
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.5;
}


/* faq section end */


