/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
} */

body{
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: row;
  flex: auto;
}

article{
  flex:2;
  overflow-y: auto;
}

aside{
  flex: 1;
  overflow-y: auto;
}